.meals-background{
    background-color: #FDFAF6;
    border-radius: 10px;
    width: 100%;
}
.meals-background:hover{
    border: 0px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.regenerate{
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 1px 2px 0 rgba(0, 0, 0, 0.19);
}
.text-overflow{
    overflow:hidden; 
    white-space:nowrap; 
    text-overflow: ellipsis;
}
.meals{
    margin-top: 1rem;
    border-radius: 10px;
    border: 1px solid black;
    width: 100vh;
}
.meals:hover{
    cursor: pointer;
}
.meals-breakfast:hover{
    background-color: rgb(249, 102, 102, 0.5)
}
.meals-lunch:hover{
    background-color: rgb(103, 71, 71, 0.5)
}
.meals-dinner:hover{
    background-color: rgb(130, 148, 96, 0.5)
}

.save-icon{
    display: none;
    z-index: 99;
    margin: 0;
    width: 100%;
    text-align: center;
    margin-top: -8rem ;
    margin-bottom: 5rem;
}
.meals-breakfast:hover .save-icon{
    display: flex;
}
.meals-lunch:hover .save-icon{
    display: flex;
}
.meals-dinner:hover .save-icon{
    display: flex;
}
.save-icon > svg{
    display: none;
    padding: 10px;
    border: 1px solid black;
    border-radius: 100px;
    background-color: rgb(255, 255, 255, 0.5);
}
.save-icon > svg:hover{
    background-color: rgb(255, 255, 255, 0.85);
}
.meals-breakfast:hover .save-icon > svg {
    display: flex;
}
.meals-lunch:hover .save-icon > svg {
    display: flex;
}
.meals-dinner:hover .save-icon > svg {
    display: flex;
}
.meals-breakfast:hover .blurred{
    filter: blur(0.1rem);
}
.meals-lunch:hover .blurred{
    filter: blur(0.1rem);
}
.meals-dinner:hover .blurred{
    filter: blur(0.1rem);
}