.login_container {
	width: 100%;
	min-height: 100vh;
	background-color: #f5f5f5;
	display: flex;
	align-items: center;
	justify-content: center;
}

.login_form_container {
	width: 900px;
	height: 500px;
	display: flex;
	border-radius: 10px;
	box-shadow: 0px 3px 3px -2px rgb(0 0 0 / 20%),
		0px 3px 4px 0px rgb(0 0 0 / 14%), 0px 1px 8px 0px rgb(0 0 0 / 12%);
}

.left {
	flex: 2;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	background-color: white;
	border-top-left-radius: 10px;
	border-bottom-left-radius: 10px;
}

.form_container {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.form_container h1 {
	font-size: 40px;
	margin-top: 0;
}

.input {
	outline: none;
	border: none;
	width: 370px;
	padding: 15px;
	border-radius: 10px;
	background-color: #edf5f3;
	margin: 5px 0;
	font-size: 14px;
}

.forgotpassword{
	width: 370px;
}

.error_msg {
	width: 370px;
	padding: 15px;
	margin: 5px 0;
	font-size: 14px;
	background-color: #f34646;
	color: white;
	border-radius: 5px;
	text-align: center;
}

.right {
	flex: 1;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	background-color: rgba(93,175,47,255);
	border-top-right-radius: 10px;
	border-bottom-right-radius: 10px;
}

.right h1 {
	margin-top: 0;
	color: white;
	font-size: 40px;
	align-self: center;
}

.white_btn,
.green_btn {
	border: none;
	outline: none;
	padding: 12px 0;
	background-color: white; 
	border-radius: 20px;
	width: 180px;
	font-weight: bold;
	font-size: 14px;
	cursor: pointer;
}

.green_btn {
	background-color: rgba(93,175,47,255);
	color: white;
	margin: 10px;
}
.orSeparator{
	margin: 25px;
	display: flex;
	align-items: center;
	justify-content: center;
	height: 0.5px;
	width: 100%;
	background-color: black;
}
.orSeparator b{
	padding: 7.5px;
	border-radius: 10px;
	border: solid 1px black;
	background-color: white;
}
.google{
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #f5f5f5;
	gap: 10px;
	padding: 10px;
	border-radius: 30px;
	cursor: pointer;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.01);
	margin-top: 4px;
}
.google:hover{
	box-shadow: 0 0px 0px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.01);
	margin-top: 0px;
	border: solid 2px #5daf2f;
}

@media screen and (max-width: 600px){
	.input {
		width: 250px;
	}
	.forgotpassword {
		width: 250px;
	}
	
}
@media screen and (max-width: 768px){
	.right{
		padding: 10px;
		border-radius: 10px;
	}
	.left{
		border-radius: 10px;
	}
}